#mainMap {
    -fx-background-image: url("../img/witmap2.jpeg");
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
}

/*todo style form labels correctly*/
.formLabel {
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}

/*todo finish styling invalid form entry*/
.invalidEntry {
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.invalidFormLabel {
    -fx-text-fill: red;
    -fx-font-style: italic;
}

.clickablePanelShown {
    -fx-background-color: #4467ff;
    -fx-opacity: 0.7;
}

.clickablePanelHidden {
    -fx-opacity: 0.0001;
}