#mainMap {
    -fx-background-image: url("../../common/img/witmap2.jpeg");
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
}

/*todo style form labels correctly*/
.formLabel {
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}

/*todo finish styling invalid form entry*/
.invalidEntry {
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.invalidFormLabel {
    -fx-text-fill: red;
    -fx-font-style: italic;
}

.areaSelectedLabel {
    -fx-text-fill: lawngreen;
    -fx-font-style: italic;
}

.clickablePanelShown {
    -fx-background-color: #1cff49;
    -fx-opacity: 0.7;
    -fx-effect: dropshadow( three-pass-box , #72abff, 10, 0.5 , 1 , 0.5 );
}

.selectableAreaShown {
    -fx-opacity: 0.7;
    -fx-background-color: #7cff47;
}

.nonSelectableAreaShown {
    -fx-opacity: 0.7;
    -fx-background-color: #ff2918;
}

.clickablePanelHidden {
    -fx-opacity: 0.0001;
}